# Week 11
# Data Loading and Storage

Accessing data is a necessary first step for most data science projects. From this chapter we will learn:
- Reading and writing data in text format (.txt, .csv, .json)
- Reading data from webpages (web scrapping)
- Reading and writing data in binary format (.pickle, .feather, .h5)
- Interacting with databases

Reading:
- Textbook, Chapter 6

## I. Reading and Writing Data in Text Format

### 1. csv file

In [1]:
# Let's create a data frame first
import numpy as np
import pandas as pd

values = np.array([
    [100, 80, 95, 'A'],
    [55, 60, 45, 'F'],
    [70, 75, 90, 'A'],
    [75, 70, 60, 'D'],
    [60, 73, 75, 'C'],
    [72, 63, -1, 'NA']
])
df = pd.DataFrame(values,
                   columns=['Midterm', 'Project', 'Final', 'LetterGrade'],
                   index=['Alex', 'Bob', 'Chris', 'Doug', 'Eva', "Frank"])
df

      Midterm Project Final LetterGrade
Alex      100      80    95           A
Bob        55      60    45           F
Chris      70      75    90           A
Doug       75      70    60           D
Eva        60      73    75           C
Frank      72      63    -1          NA

In [6]:
# Write to a csv file using .to_csv()
import os
print('Does path "Data/temp/" exist?', os.path.exists("Data/temp/"))

if not os.path.exists("Data/temp"):
    os.mkdir("Data/temp")
    print('File path "Data/temp" created.')

df.to_csv("Data/temp/grades.csv")

Does path "Data/temp/" exist? False
File path "Data/temp" created.

In [7]:
# Load the csv file
df2 = pd.read_csv("Data/temp/grades.csv", sep=",")
df2

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A
3       Doug       75       70     60           D
4        Eva       60       73     75           C
5      Frank       72       63     -1         NaN

In [8]:
# Load only the first 3 rows
df3 = pd.read_csv("Data/temp/grades.csv", nrows=3)
df3

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1        Bob       55       60     45           F
2      Chris       70       75     90           A

In [10]:
# Load the file, skipping row 2 and 4
df4 = pd.read_csv("Data/temp/grades.csv", skiprows=[2, 4])
df4

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100       80     95           A
1      Chris       70       75     90           A
2        Eva       60       73     75           C
3      Frank       72       63     -1         NaN

In [10]:
# Remove column headers from the csv file, then load it
# df5 = pd.read_csv("Data/temp/grades.csv", header=None, names=['Name', 'Midterm', 'Project', 'Final', 'LetterGrade'])
df5 = pd.read_csv("Data/temp/grades.csv", names=[1, 2, 3, 4, 5], skiprows=[0])
df5

       1    2   3   4    5
0   Alex  100  80  95    A
1    Bob   55  60  45    F
2  Chris   70  75  90    A
3   Doug   75  70  60    D
4    Eva   60  73  75    C
5  Frank   72  63  -1  NaN

In [11]:
# Set first column as index
df6 = pd.read_csv("Data/temp/grades.csv", index_col=0)
df6

       Midterm  Project  Final LetterGrade
Alex       100       80     95           A
Bob         55       60     45           F
Chris       70       75     90           A
Doug        75       70     60           D
Eva         60       73     75           C
Frank       72       63     -1         NaN

In [14]:
# Identify -1 as NaN
df7 = pd.read_csv("Data/temp/grades.csv", na_values=[-1, 63])
df7

  Unnamed: 0  Midterm  Project  Final LetterGrade
0       Alex      100     80.0   95.0           A
1        Bob       55     60.0   45.0           F
2      Chris       70     75.0   90.0           A
3       Doug       75     70.0   60.0           D
4        Eva       60     73.0   75.0           C
5      Frank       72      NaN    NaN         NaN

### 2. Load txt file with values separated by spaces

In [15]:
with open("Data/temp/values.txt", 'w') as file:
    file.write("Index Category     Value\n")
    file.write("1            A      2.92\n")
    file.write("2            B     12.14\n")
    file.write("3            C    123.56\n")

In [17]:
# Although read_csv() is still applicable, setting delimiter to a single space will create errors
df = pd.read_csv("Data/temp/values.txt", sep=" ")
df

,,,,,,,,,,,,Index,Category,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Value
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,2.92
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,12.14,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,123.56,NaN,NaN

In [18]:
df = pd.read_csv("Data/temp/values.txt", sep="\s+")
df

   Index Category   Value
0      1        A    2.92
1      2        B   12.14
2      3        C  123.56

### 3. Load JSON files

**JavaScript Object Notation (JSON)** is a popular file format to storing unstructured data because it is easy for both human and computer to understand.
- Its structure is very similar to Python dictionary
- Load a json file with json.loads()
- Writes to a json file with json.dump()

In [19]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [20]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [25]:
# A JSON object is represented as a python dictionary
?result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [26]:
asjson = json.dumps(result) # Convert back to string

In [27]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [30]:
# Use json.dump(object, file) to write the content to file
with open("Data/temp/People.json", 'w') as file:
    json.dump(result, file)
    
# The with statement is equivalent to the following:
# file = open("Data/temp/People.json", 'w')
# json.dump(result, file)
# file.close()

In [29]:
# Load from People.json
with open("Data/temp/People.json", "r") as file:
    people = json.load(file)
people

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [31]:
# Load the content as a data frame
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pets'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

## II. Web Scrapping
When performing data science tasks, it's common to want to use data found on the internet. You'll usually be able to access the data in csv format, or via an Application Programming Interface (API). However, there are times when the data you want can only be accessed as part of a web page. In cases like this, you'll want to use a technique called **web scraping** to get the data from the web page into a format you can work with in your analysis.

In [1]:
# Download a webpage
import requests
page = requests.get("http://dataquestio.github.io/web-scraping-pages/simple.html")
page #2** status code usually means successful download

In [2]:
# Show what is downloaded
print(page.content)

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

We will use **beautifulsoup** library to extract useful information from the html script.

In [3]:
from bs4 import BeautifulSoup

In [4]:
soup = BeautifulSoup(page.content, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   A simple example page
  </title>
 </head>
 <body>
  <p>
   Here is some simple content for this page.
  </p>
 </body>
</html>

In [5]:
# using the children attribute to select all the top-level tags
list(soup.children)

['html',
 '\n',
 <html>
 <head>
 <title>A simple example page</title>
 </head>
 <body>
 <p>Here is some simple content for this page.</p>
 </body>
 </html>]

In [6]:
# type of each children
print([type(item) for item in list(soup.children)])

[<class 'bs4.element.Doctype'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>]

In [8]:
# select the html tag and its children by taking the third item in the list:
html = list(soup.children)[2]
print(html)

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<p>Here is some simple content for this page.</p>
</body>
</html>

In [9]:
print('\n'.join([str(idx) + ':\n' + str(item) \
                 for idx, item in enumerate(list(html.children))]))

0:


1:
<head>
<title>A simple example page</title>
</head>
2:


3:
<body>
<p>Here is some simple content for this page.</p>
</body>
4:

In [10]:
len(list(html.children))

5

In [33]:
print([type(item) for item in list(html.children)])

[<class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>, <class 'bs4.element.NavigableString'>, <class 'bs4.element.Tag'>, <class 'bs4.element.NavigableString'>]

In [11]:
body = list(html.children)[3]
print(body)

<body>
<p>Here is some simple content for this page.</p>
</body>

In [12]:
print(list(body.children))

['\n', <p>Here is some simple content for this page.</p>, '\n']

In [13]:
p = list(body.children)[1]
print(p)

<p>Here is some simple content for this page.</p>

In [14]:
p.get_text()

'Here is some simple content for this page.'

In [18]:
# Exercise: find the name "Brian J. Murphy" for Dr. Murphy's website.
page = requests.get("http://comet.lehman.cuny.edu/bmurphy/")
soup2 = BeautifulSoup(page.content, 'html.parser')
print(soup2.prettify())

<html>
 <head>
  <script>
   var csDept = "http://www.lehman.edu/computer-science/index.php";
var lehman = "http://www.lehman.edu";

var email = "Brian."+"Murphy"+"@"+"lehman."+"cuny."+"edu";


function popup(show, hide)
{
   hide.style.position = "absolute";

   show.style.position = "static";

   return show;
}


function goto(url)
{
   window.location.href = url;
}
  </script>
  <style>
   html
{
   zoom  : 100%;
}

.boxed
{
   position		: relative;
   top			: 0;
   left			: 0;
   width		: 82%;
   text-align		: center;
}

.gray
{
   color		: #CCCCCC;
   text-shadow		: 4px 3px #000000;
   font-family		: Arial;
   font-size		: 42;
}

.black
{
   color		: black;
   text-shadow		: 3px 2px #666666;
   font-family		: Arial;
   font-size		: 30;
}

input
{
   position		: absolute;
   font-family		: Arial;
   font-size		: 28;
   width		: 17%;
   opacity		: .7;
   left			: 82%;
   box-shadow		: 4px 4px #444444
}

img
{
   position		: absolute;
   z-index		: -1;
   top			: 0;
   left			: 0;
   width		: 100%
}

body
{
   background-color	: black;
   overflow		: hidden
}


a
{
  color			: #60C0F0;
  link			: #60C0F0;
  vlink			: #60C0F0;
}

.popup
{
   padding		: 15px;
   margin		: auto;
   position		: absolute;
   top			: -1000;
   font-family		: Arial;
   font-size		: 28;
   background-color	: #000000;
   opacity		: .7;
   color		: #CCCCCC
}
  </style>
 </head>
 <body>
  <img src=".\images\Gillet Side.jpg"/>
  <input onclick="current = popup(courses, current)" style="top:25%" type="BUTTON" value="Courses"/>
  <input onclick="current = popup(office,  current)" style="top:35%" type="BUTTON" value="Office Hours"/>
  <input onclick="current = popup(contact, current)" style="top:45%" type="BUTTON" value="Contact"/>
  <input onclick="goto(csDept)" style="top:55%" type="BUTTON" value="CS Dept."/>
  <input onclick="goto(lehman)" style="top:65%" type="BUTTON" value="Lehman"/>
  <div class="boxed">
   <div class="gray">
    BRIAN J. MURPHY
   </div>
   <div class="black">
    Department of Computer Science
    <br/>
    Lehman College
    <br/>
    The City University of New York
    <br/>
   </div>
  </div>
  <table border="0" height="50%" width="83%">
   <tr>
    <td>
     <div class="popup" id="courses" style="width: 420">
      <!--510 width:740)-->
      <u>
       Courses - Spring 2023
      </u>
      :
      <br/>
      <br/>
      <a href=".\CMP338\">
       CMP 338
      </a>
      - T/H 7:50pm-9:30pm
      <br/>
      <br/>
      <a href=".\CMP464\">
       CMP 464
      </a>
      - T/H 6:00pm-7:40pm
      <br/>
      <br/>
      <a href=".\CMP464\">
       CMP 776
      </a>
      - T/H 6:00pm-7:40pm
      <br/>
     </div>
     <div class="popup" id="office" style="width:380">
      <!--width:550)-->
      <u>
       Office Hours - Spring 2023
      </u>
      :
      <br/>
      <br/>
      Thursday
      <br/>
      5:30pm-6:00pm
      <br/>
      <br/>
      Tuesday and Thursday
      <br/>
      9:30pm-10:30pm
     </div>
     <div class="popup" id="contact" style="width:500">
      <u>
       Contact Information
      </u>
      :
      <br/>
      <br/>
      Office: Gillet 211
      <br/>
      <br/>
      Phone: (718) 960-5117
      <br/>
      <br/>
      Email:
      <script>
       document.write("<A HREF='mailto:" + email + "'>" + email + "</A>");
      </script>
     </div>
    </td>
   </tr>
  </table>
  <script>
   var current = courses;
  </script>
 </body>
</html>

In [26]:
level1_children = list(soup2.children)
print(len(level1_children))

1

In [31]:
level2_children = list(level1_children[0])
print(len(level2_children))
print(level2_children[3])

5
<body>
<img src=".\images\Gillet Side.jpg"/>
<input onclick="current = popup(courses, current)" style="top:25%" type="BUTTON" value="Courses"/>
<input onclick="current = popup(office,  current)" style="top:35%" type="BUTTON" value="Office Hours"/>
<input onclick="current = popup(contact, current)" style="top:45%" type="BUTTON" value="Contact"/>
<input onclick="goto(csDept)" style="top:55%" type="BUTTON" value="CS Dept."/>
<input onclick="goto(lehman)" style="top:65%" type="BUTTON" value="Lehman"/>
<div class="boxed">
<div class="gray">
BRIAN J. MURPHY
</div>
<div class="black">
Department of Computer Science<br/>
Lehman College<br/>
The City University of New York<br/>
</div>
</div>
<table border="0" height="50%" width="83%">
<tr>
<td>
<div class="popup" id="courses" style="width: 420"><!--510 width:740)-->
<u>Courses - Spring 2023</u>:
<br/><br/>
<a href=".\CMP338\">CMP 338</a> - T/H 7:50pm-9:30pm
<br/><br/>
<a href=".\CMP464\">CMP 464</a> - T/H 6:00pm-7:40pm
<br/><br/>
<a href=".\CMP464\">CMP 776</a> - T/H 6:00pm-7:40pm
<br/>
</div>
<div class="popup" id="office" style="width:380"><!--width:550)-->
<u>Office Hours - Spring 2023</u>:
<br/><br/>
Thursday<br/>
5:30pm-6:00pm
<br/><br/>
Tuesday and Thursday<br/>
9:30pm-10:30pm


</div>
<div class="popup" id="contact" style="width:500">
<u>Contact Information</u>:<br/><br/>

Office: Gillet 211<br/><br/>
Phone: (718) 960-5117<br/><br/>
Email: <script>  document.write("<A HREF='mailto:" + email + "'>" + email + "</A>");  </script>
</div>
</td>
</tr>
</table>
<script>

var current = courses;

</script>
</body>

In [55]:
level3_children = list(level2_children[3])
print(len(level3_children))
print(level3_children[5])

19
<input onclick="current = popup(office,  current)" style="top:35%" type="BUTTON" value="Office Hours"/>

In [51]:
level4_children = list(level3_children[13])
print(len(level4_children))
print(level4_children[1])

5
<div class="gray">
BRIAN J. MURPHY
</div>

In [52]:
name = level4_children[1]
print(name.get_text())

BRIAN J. MURPHY

In [63]:
# Ex: Extract all the button labels

index_list = [3, 5, 7, 9, 11]
for i in index_list:
    button = list(list(list(soup2.children)[0].children)[3])[i]
    print(button['value'])

Courses
Office Hours
Contact
CS Dept.
Lehman

#### FInding all instances of a tag at once

In [65]:
soup = BeautifulSoup(page.content, 'html.parser')
soup.find_all('input')

[<input onclick="current = popup(courses, current)" style="top:25%" type="BUTTON" value="Courses"/>,
 <input onclick="current = popup(office,  current)" style="top:35%" type="BUTTON" value="Office Hours"/>,
 <input onclick="current = popup(contact, current)" style="top:45%" type="BUTTON" value="Contact"/>,
 <input onclick="goto(csDept)" style="top:55%" type="BUTTON" value="CS Dept."/>,
 <input onclick="goto(lehman)" style="top:65%" type="BUTTON" value="Lehman"/>]

In [67]:
all_buttons = soup.find_all('input')
for button in all_buttons:
    print(button['value'])

Courses
Office Hours
Contact
CS Dept.
Lehman

In [70]:
# Find the first instance of a tag
soup.find('input')

#### Searching for tags by class and id

In [72]:
# Let's look at another webpage with classes and id's
page = requests.get("http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html")
soup = BeautifulSoup(page.content, 'html.parser')
soup

<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

In [75]:
# Find all tags of a class
soup.find_all(class_="first-item")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>,
 <p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>]

In [76]:
soup.find_all(id="first")

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [77]:
soup.find_all('p')

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>,
 <p class="inner-text">
                 Second paragraph.
             </p>,
 <p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 Second outer paragraph.
             </b>
 </p>]

#### Downloading the weather data
1. Open the [weather forecast page](https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE)
2. Display the source code (On Chrome use "Developer Tools")
3. Identify the item containing data (On Chrome right click the values and select "Inspect")

In [83]:
page = requests.get("https://forecast.weather.gov/MapClick.php?lat=40.7146&lon=-74.0071#.Xbc5aXVKhhE")
soup = BeautifulSoup(page.content, 'html.parser')
seven_day = soup.find(id="seven-day-forecast")
# print(len(seven_day))
# print(seven_day)
forecast_items = seven_day.find_all(class_="tombstone-container")
# print(len(forecast_items))
# print(forecast_items)
tonight = forecast_items[0]
print(tonight.prettify())

<div class="tombstone-container">
 <p class="period-name">
  Today
  <br/>
  <br/>
 </p>
 <p>
  <img alt="Today: Mostly cloudy, with a high near 60. West wind 13 to 16 mph. " class="forecast-icon" src="newimages/medium/bkn.png" title="Today: Mostly cloudy, with a high near 60. West wind 13 to 16 mph. "/>
 </p>
 <p class="short-desc">
  Mostly Cloudy
 </p>
 <p class="temp temp-high">
  High: 60 °F
 </p>
</div>

In [84]:
# Find today's weather

items = soup.find_all(class_="myforecast-current-lrg")
items[0].get_text()

'49°F'

In [87]:
names = soup.find_all(class_="period-name") 
# This statement creates a list of temperature labels

In [90]:
# Convert the list of p objects to a list of strings
days = []
for obj in names:
#     print(obj.get_text())
    days.append(obj.get_text())
print(days)

days = [obj.get_text() for obj in names]
print(days)

['Today', 'Tonight', 'Thursday', 'ThursdayNight', 'Friday', 'FridayNight', 'Saturday', 'SaturdayNight', 'Sunday']
['Today', 'Tonight', 'Thursday', 'ThursdayNight', 'Friday', 'FridayNight', 'Saturday', 'SaturdayNight', 'Sunday']

In [94]:
temps = soup.find_all(class_="temp")
# Retrieve all the temperature data

In [95]:
# Extract the text from each temperature object
temperatures = [obj.get_text() for obj in temps]
print(temperatures)

['High: 60 °F', 'Low: 50 °F', 'High: 64 °F', 'Low: 55 °F', 'High: 74 °F', 'Low: 58 °F', 'High: 71 °F', 'Low: 59 °F', 'High: 63 °F']

In [103]:
import numpy as np
data = np.array([days, temperatures]).T
# transpose the array so that each list becomes a column

In [105]:
import pandas as pd
# Create a data frame with the days and the temperatures
df = pd.DataFrame(data, columns=["Day", "Temperature"])
df

             Day  Temperature
0          Today  High: 60 °F
1        Tonight   Low: 50 °F
2       Thursday  High: 64 °F
3  ThursdayNight   Low: 55 °F
4         Friday  High: 74 °F
5    FridayNight   Low: 58 °F
6       Saturday  High: 71 °F
7  SaturdayNight   Low: 59 °F
8         Sunday  High: 63 °F

In [113]:
# Find weather forecast for the week
period_tags = seven_day.select(".tombstone-container .period-name")
periods = [pt.get_text() for pt in period_tags]
periods

['Today',
 'Tonight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday']

In [111]:
# Find short descriptions and long descriptions for the week
short_desc_tags = seven_day.select(".tombstone-container .short-desc")
short_descs = [pt.get_text() for obj in short_desc_tags]
print(short_descs)

['Mostly Cloudy', 'Mostly Clear', 'Mostly Sunny', 'Mostly Clear', 'Sunny', 'PatchyDrizzle', 'PatchyDrizzle thenPartly Sunny', 'ChanceShowers thenShowers andBreezy', 'Showers andBreezy']

In [115]:
long_desc_tags = seven_day.select(".tombstone-container .forecast-icon")
descs = [obj['title'] for obj in long_desc_tags]
print(long_descs)

['Today: Mostly cloudy, with a high near 60. West wind 13 to 16 mph. ', 'Tonight: Mostly clear, with a low around 50. Northwest wind 5 to 10 mph becoming northeast after midnight. ', 'Thursday: Mostly sunny, with a high near 64. Light and variable wind becoming south 5 to 8 mph in the afternoon. ', 'Thursday Night: Mostly clear, with a low around 55. Southeast wind 5 to 7 mph. ', 'Friday: Sunny, with a high near 74. East wind 3 to 8 mph. ', 'Friday Night: Patchy drizzle after 9pm.  Partly cloudy, with a low around 58.', 'Saturday: Patchy drizzle before 9am.  Mostly cloudy, with a high near 71.', 'Saturday Night: Showers, mainly after 3am.  Low around 59. Breezy.  Chance of precipitation is 80%.', 'Sunday: Showers, mainly before 3pm.  High near 63. Breezy.  Chance of precipitation is 80%.']

In [117]:
temp_tags = seven_day.select(".tombstone-container .temp")
temps = [obj.get_text() for obj in temp_tags]

In [118]:
# Load the weather data as a data frame
import pandas as pd
weather = pd.DataFrame({
    "period": periods,
    "short_desc": short_descs,
    "temp": temps,
    "desc":descs
})
weather

,period,short_desc,temp,desc
0,Today,Mostly Cloudy,High: 60 °F,"Today: Mostly cloudy, with a high near 60. Wes..."
1,Tonight,Mostly Clear,Low: 50 °F,"Tonight: Mostly clear, with a low around 50. N..."
2,Thursday,Mostly Sunny,High: 64 °F,"Thursday: Mostly sunny, with a high near 64. L..."
3,ThursdayNight,Mostly Clear,Low: 55 °F,"Thursday Night: Mostly clear, with a low aroun..."
4,Friday,Sunny,High: 74 °F,"Friday: Sunny, with a high near 74. East wind ..."
5,FridayNight,PatchyDrizzle,Low: 58 °F,Friday Night: Patchy drizzle after 9pm. Partl...
6,Saturday,PatchyDrizzle thenPartly Sunny,High: 71 °F,Saturday: Patchy drizzle before 9am. Mostly c...
7,SaturdayNight,ChanceShowers thenShowers andBreezy,Low: 59 °F,"Saturday Night: Showers, mainly after 3am. Lo..."
8,Sunday,Showers andBreezy,High: 63 °F,"Sunday: Showers, mainly before 3pm. High near..."

In [119]:
# extract numeric temperature
temp_nums = weather["temp"].str.extract("(?P<temp_num>\d+)", expand=False)
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html
weather["temp_num"] = temp_nums.astype('int')
weather

,period,short_desc,temp,desc,temp_num
0,Today,Mostly Cloudy,High: 60 °F,"Today: Mostly cloudy, with a high near 60. Wes...",60
1,Tonight,Mostly Clear,Low: 50 °F,"Tonight: Mostly clear, with a low around 50. N...",50
2,Thursday,Mostly Sunny,High: 64 °F,"Thursday: Mostly sunny, with a high near 64. L...",64
3,ThursdayNight,Mostly Clear,Low: 55 °F,"Thursday Night: Mostly clear, with a low aroun...",55
4,Friday,Sunny,High: 74 °F,"Friday: Sunny, with a high near 74. East wind ...",74
5,FridayNight,PatchyDrizzle,Low: 58 °F,Friday Night: Patchy drizzle after 9pm. Partl...,58
6,Saturday,PatchyDrizzle thenPartly Sunny,High: 71 °F,Saturday: Patchy drizzle before 9am. Mostly c...,71
7,SaturdayNight,ChanceShowers thenShowers andBreezy,Low: 59 °F,"Saturday Night: Showers, mainly after 3am. Lo...",59
8,Sunday,Showers andBreezy,High: 63 °F,"Sunday: Showers, mainly before 3pm. High near...",63

In [52]:
# Identify day temperature from night temperature
is_night = weather["temp"].str.contains("Low")
weather["is_night"] = is_night
is_night

0    False
1     True
2    False
3     True
4    False
5     True
6    False
7     True
8    False
Name: temp, dtype: bool

In [53]:
weather[is_night]

,period,short_desc,temp,desc,temp_num,is_night
1,Tonight,Partly Cloudy,Low: 49 °F,"Tonight: Partly cloudy, with a low around 49. ...",49,True
3,TuesdayNight,Mostly Cloudythen SlightChanceShowers,Low: 51 °F,Tuesday Night: A 20 percent chance of showers ...,51,True
5,WednesdayNight,ChanceShowers,Low: 56 °F,Wednesday Night: A 40 percent chance of shower...,56,True
7,ThursdayNight,ShowersLikely thenChanceShowers,Low: 46 °F,"Thursday Night: Showers likely, mainly before ...",46,True

In [54]:
# Get new headlines from New York Times?
# Get current stock prices?
# Monitor alarms?;
# Download files?